<!DOCTYPE html>
<html>
    <head>
        <title>Address Book</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' type='text/css'>
    </head>
    <body>
        <div class='container'>
            <h3>Address book cleared!</h3>
            <a href='/'>Back to address book</a>
        </div>
    </body>
</html>
