<!DOCTYPE html>
<html>
    <head>
        <title>Address Book</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' type='text/css'>
    </head>
    <body>
        <div class='container'>
            <h3>You created a contact!</h3>
            <p>Name: {{ newcontact.getName }}</p>
            <p>Phone number: {{ newcontact.getNumber }}</p>
            <p>Address: {{ newcontact.getAddress }}</p>
            <a href='/'>Return to address book</a>
        </div>
    </body>
</html>
